
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col s6 m4 card-pokemon">
            <div (click)="goToPokemon(pokemon)" class="card horizontal" pkmnBorderCard='red'>
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="pokemon-illustration" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6> {{ pokemon.name }}</h6>
                        <p> {{ pokemon.created | date:"dd/MM/yyyy" }}</p>
                        <span 
                            *ngFor="let type of pokemon.types" 
                            class="{{ type | pokemonTypeColor}}">
                            {{ type }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>
